.Navbar{
  color: rgb(249, 234, 234);
  background-color: rgb(57, 110, 92);
  text-align: center;
  height: 80px;
  font-size: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  
}
.image{
  margin-right: 180px;
  align-items: center;
  color: #ffff;
}
.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.icons a{
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
}
.btn{
  margin-left: 80px;
  top: 70px;
  font-size: 1.5rem;
  text-align: center;
transition: all 2s ease;
}
.log{
  top: 40px;
width: 140px;
height: 40px;
background-color: white;
border: none;
margin-left: 20px;
/* padding-left: 20px; */
text-align: center;
}
.btn:hover{
  border: 1px solid black;
}
.log{
 
margin-left: 30px;
padding-bottom: 30px;
}

.cardcontainer{
  display: flex;
  justify-content: space-around;
  gap: 20%;
  margin-left: 20px;
}
.card{
  width: 220px;
  background-color:  rgb(90, 148, 130);
  height: 340px;
  align-items: center;
  border-radius: 10px;
  margin: 100px 40px;
  padding: 20px;


 
}
.card:hover{
  border: 2px solid black;
}
.card img{
  width: 100%; 
  height: 120px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: cover;
  padding-left: 4px;
}

.heading{
  font-size: 2.2rem;
  font-weight: 550;
  color: white;
  
}
.para{
  font-size: 1.2rem;
  font-weight: 500;
}
form{
  background-color:  rgb(90, 148, 130);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 400;
}
form label{
padding: 10px;
color: #fff;

}
form input{
  width: 500px;
padding: 15px;
  border: 1px solid #a59c9c;
  border-radius: 8px;
color: black;
align-items: center;
font-size: 1rem;
}
button{
  background-color: #fff;
  color:black;
  border-radius: 8px;
  padding: 17px;
  border: none;
  width: 540px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 2s ease-in-out;
}
button:hover{
  color: #fff;
  background-color: rgb(57, 110, 92);
}
.Footer{
  color: rgb(249, 234, 234);
  background-color: rgb(57, 110, 92);
  height: 50px;
  font-size: 2rem;
  align-items: center;
  text-align: center;
}